*{
    transition: all 0.4s ease;
}
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
}

/* 设置全局过渡效果 */
#sidebar {
    width: 250px;
    height: 100%;
    position: fixed;
    background: #34495e;
    color: white;
    overflow-y: auto;
    transition: transform 0.3s ease; /* 添加过渡效果 */
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    transform: translateX(0); /* 初始状态 */
}

/* 隐藏状态的侧边栏 */
#sidebar.hidden {
    transform: translateX(-100%);
}

#sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#sidebar ul li {
    padding: 15px;
    cursor: pointer;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);

}

#sidebar ul li:hover {
    background-color: #2c3e50;
}

#sidebar ul li ul {
    margin-left: 15px;
}

#sidebar ul li ul li {
    padding: 10px;
    background-color: #3b5998;
}

#sidebar ul li ul li:hover {
    background-color: #4e69a2;
}

#main-content {
    margin-left: 250px;
    padding: 20px;
    height: calc(100% - 40px);
    overflow-y: auto;
    transition: margin-left 0.3s ease;
}

#main-content iframe {
    width: 100%;
    height: 100%;
    border: none;
}

.fade-in {
    animation: fadeIn 0.5s;
}

.fade-out {
    animation: fadeOut 0.5s forwards;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeOut {
    to { opacity: 0; }
}

li{
    border-radius: 10px;
    margin: 5px;
}
#menu-toggle {
    position: absolute;
    top: 20px;
    left: 10px;
    background-color: #34495e;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    z-index: 1000;
    display: none;
    border-radius: 15px;
    font-size: 15px;
    width: 50px;
    height: 50px;
}



/* 响应式样式 */
@media (max-width: 768px) {
    #sidebar {
        transform: translateX(-100%);
    }

    #sidebar.hidden {
        transform: translateX(0);
    }

    #main-content {
        margin-left: 0;
    }

    #menu-toggle {
        display: block;
    }
}


.hidden {
    display: none;
}

.fade-in {
    opacity: 0;
    transition: opacity 0.5s ease-in;
}

.fade-out {
    opacity: 0;
    transition: opacity 0.5s ease-out;
}
